.wrapper {
    margin-top: 25px;
}

.title {
    margin: 20px 0;
}

.description {
    font-size: 20px;
    margin: 20px 0;
}

.map {
    border: 0;
    width: 100%;
    margin-bottom: 20px
}

@media (max-width: 715px) {
    .wrapper {
        margin: 100px 0;
    }

    .title {
        margin-left: 10px;
    }

    .description {
        margin-left: 10px;
    }

    .map {}
}
