.crisp-button {
    position: fixed;
    bottom: 20px;
    right: 24px;
    width: 60px;
    height: 60px;
    background-color: #e51e0f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-decoration: none;
    animation: pulse 0.4s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    100% {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }
}

@media (max-width: 479px) {
    .crisp-button {
        bottom: 14px;
        right: 14px;
        width: 54px;
        height: 54px;
    }
}

@media (max-height: 599px) {
    .crisp-button {
        bottom: 15px;
        right: 15px;
        width: 54px;
        height: 54px;
    }
}
