.grid {
    flex: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(10%, auto));
    max-width: 100%;
    color: #F7C571;
    background-color: #0C1C3B;
    font-size: 13px;
    line-height: 18px;
}

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card h2 {
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
}

.service{
    padding: 6px;
    list-style-type: none;
}

/* Mobile */
@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 1rem 2.5rem;
    }

    .card h2 {
        margin-bottom: 0.5rem;
    }
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
} */
