.contacts {
    background: #1d1d1d;
    color: #cbc9d1;
    height: 30;
    padding: 18px;
    display: flex;
    align-items: center;
    font-size: 14;
    padding: 1px;
}

@media (max-width: 850px) {
    .contacts {
        position: fixed;
        z-index: 4;
        padding: 1px;
        width: 100%;
        top: 0;
    }
}

@media (max-width: 715px) {
    .contacts {
        display: none;
    }
}
