.wrapper {
    background: #1d1d1d;
    /* color: #cbc9d1; */
    height: 30;
    padding: 18px;
    display: flex;
    align-items: center;
    padding: 4px 30px;
}

.text {
    font-size: 13px;
    color: #a1a1a1;
    line-height: 18px;
}

.icon {
    margin: 5px 0;
    margin-right: 5px;
    margin-left: 30px;
}

@media (max-width: 850px) {
    .contacts {
        position: fixed;
        z-index: 3;
        padding: 1px;
        width: 100%;
        top: 0;
    }

    .wrapper {
        position: fixed;
        width: 100%;
        margin-bottom: 5px;
        padding-bottom: 5px;

        z-index: 3;
    }
}

@media (max-width: 715px) {
    .contacts {
        display: none;
    }
    .wrapper {
        display: none;
    }
}
