.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper>* {
    flex-basis: calc(33.33% - 1rem);
    margin: 0.5rem;
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Фіксоване співвідношення сторін 16:9 (9 / 16 * 100) */
    padding-bottom: 15%;
}

.image-container .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Зберегти співвідношення сторін без деформацій */
}

.title {
    font-weight: bold;
}

.description {}

@media only screen  and (max-width: 920px) {
    .wrapper>* {
        flex-basis: calc(100%);
        /* margin: 0.5rem; */
    }
}
