.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px
}

.title2 {
    font-size: 1.6vw;
    padding: 15px 0;
}

.textWrapper {
    flex: 2;
}

.headerTitle {
    font-size: 3.0vw;
    padding: 25px 0;
    text-align: center;
}

.sliderWrapper {
    width: 70%;
    padding-bottom: 40px;
    padding-top: 40px;
    align-self: center;
}

.textBolt {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
    margin: 0 12%;
}

.text {
    font-size: 26px;
    padding-bottom: 10px;
    text-align: left;
    margin: 0 12%;
}

@media (max-width: 1500px) {
    .wrapper {
        flex-direction: column;
    }

    .textWrapper {
        flex: 1;
    }

    .sliderWrapper {
        flex: 1;
        width: 100%;
    }

    .title2 {
        font-size: 3.3vw;
        line-height: 50px;
    }

    .textBolt {
        margin: 15px 0;
    }

    .text {
        margin: 15px 0;
    }
}

@media only screen and (min-width: 150px) and (max-width: 601px) {
    .textBolt {
        padding: 0 10px;
        line-height: 33px;
        font-size: 4vw;
        margin: 15px 0;
    }

    .text {
        padding: 0 10px;
        line-height: 33px;
        font-size: 4vw;
        margin: 15px 0;
    }

    .title2 {
        font-size: 5.5vw;
    }
}
