.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0C1C3B;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.burger {
    display: none;
}

.menuPC {
    display: flex;
    list-style: none;
}

.menuPC li {
    margin: 15px 0;
    margin-right: 10px;
}

.menuPC li a {
    color: #F7C571;
    text-decoration: none;
}

/* .menuPC li span {
    border-bottom: solid 0px grey;
} */

.menuPC li span {
    position: relative;
    cursor: pointer;
    /* Опціонально, для кращого UX */
}

.menuPC li span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: grey;
    left: 0;
    bottom: -1px;
    /* Адаптуйте залежно від потреб */
    transition: transform 0.5s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
}

.menuPC li span:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menuPC li span:hover:active {
    color: blue;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}

.menuItem {
    margin-bottom: 10px;
}

.menuItem:first-child {}

.menu .uHere {
    font-weight: bold;
    color: rgb(224, 165, 96);
    margin-bottom: 10px;
    display: inline-block;
    /* Зробити елемент блоком, але зберегти розмір тексту */
    border-bottom: 1px solid rgb(224, 165, 96);
    /* Границя, що займає ширину тексту */
}


.menuItem:last-child {
    color: #333;
    cursor: pointer;
    position: relative;
}

.menuItem:last-child::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: grey;
    left: 0;
    bottom: -1px;
    /* Адаптуйте залежно від потреб */
    transition: transform 0.5s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
}

.menuItem:last-child:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menuItem:last-child:hover:active {
    color: blue;
}

.menuItem a {
    color: #333;
    text-decoration: none;
}

.submenuDesctop {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 5;
}

.submenuDesctop.open {
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    margin-top: 22px;
    padding: 10px;
}

.submenuDesctop li {
    padding: 10px;
    z-index: 5;
}

.submenuDesctop li a {
    color: #333;
    text-decoration: none;
    z-index: 5;
}

.submenuDesctop li:hover {
    background-color: #ddd;
    z-index: 5;
}

.phone {
    display: none;
}

@media (max-width: 850px) {
    .navbar {
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 3;
        width: 100%;
        top: 33px;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }

    .menuPC {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20px;
        height: 16px;
        cursor: pointer;
        margin-right: 40px;
    }

    .burgerLine {
        width: 100%;
        height: 2px;
        background-color: #F7C571;
    }

    .burgerLineOpen {
        width: 100%;
        height: 2px;
        background-color: #1a1919;
    }

    .burgerLineClose {
        position: relative;
        /* width: 100%; */
        top: 3px;
        height: 2px;
        margin-bottom: 0px;
        background-color: #F7C571;
        transform: rotate(-45deg);
    }

    .burgerLineClose:nth-child(2) {
        display: none;
        /* Приховати центральну лінію крестика */
    }

    .burgerLineClose:last-child {
        top: -2px;
        height: 2px;
        margin-bottom: 9px;
        transform: rotate(45deg);
    }

    .logo {
        margin-left: 40px;
    }

    .dropdown {
        position: fixed;
        z-index: 3;
        top: 98px;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: #f0f0f0;
    }
}

@media (max-width: 715px) {
    .navbar {
        position: fixed;
        z-index: 3;
        width: 100%;
        top: 0;
    }

    .dropdown {
        top: 83px;
        opacity: 0.975;
    }

    .phone {
        display: block;
        margin-right: 40px;
        margin-top: 10px;
    }

    .logo {
        margin-left: 10px;
    }
}

.submenuMobile {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    z-index: 5;
}

/* .isMenuOpenMobile .uHere {
    font-weight: bold;
    color: rgb(161, 86, 0);
    margin-bottom: 10px;
} */

.submenuMobile.open {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.submenuMobile li {
    /* padding: 10px; */
    /* z-index: 5; */
}

.submenuMobile li a {
    /* color: #333; */
    /* text-decoration: none; */
    /* z-index: 5; */
}

.submenuMobile li:hover {
    background-color: #ddd;
    /* z-index: 5; */
}