.wrapper {
    padding: 0px 0;
}

.imageWrapper {
    padding: 0 20%;
    padding-top: 70px;
}

.image {
    /* position: absolute; */
    /* padding-top: 10px; */
    /* max-width: 50vw; */
    /* max-height: 50vw; */
}

.title {
    padding: 20px 0;
    font-size: 47px;
}

.title2 {
    padding: 10px 0;
    font-size: 24px;
}

.description {
    color: rgb(99, 99, 99);
    padding-bottom: 10px;
}

@media (min-width: 719px) and (max-width: 1400px) {
    .imageWrapper {
        padding-top: 80px;
    }
}

@media (min-width: 701px) and (max-width: 955px) {
    .imageWrapper {
        padding-top: 90px;
    }
}

@media (max-width: 715px) {
    .imageWrapper {
        padding-top: 120px;
    }
}