.wrapper {
    padding: 35px 0;
}

.title {
    font-size: 2vw;
    text-align: center;
}

.title2 {
    text-align: center;
    font-size: 2vw;
    color: rgb(88, 87, 87);
    margin-bottom: 15px;
}

.title3 {
    font-size: 1.2vw;
}

.title4 {
    padding-top: 15px;
    font-size: 1.5vw;
}

.description {
    font-size: 1.1vw;
    color: rgb(88, 87, 87);
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid>* {
    flex-basis: calc(33.33% - 1rem);
    margin: 0.5rem;
}

.imageWrapper {
    position: relative;
    width: 13vw;
    height: 13vw;
    left: 2vw;
}

.image {
    top: 0;
    border-radius: 50%;
    object-fit: contain;
    border: solid rgb(204, 204, 204) 1px;
    transition: transform 0.5s ease;
}

.element {
    padding: 0px;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .wrapper {
        padding: 80px 0;
    }
}

@media (min-width: 719px) and (max-width: 1400px) {
    .wrapper {
        padding: 80px 0;
    }
    .grid>* {
        flex-basis: calc(33, 3% - 1rem);
        text-align: center;
    }

    .title {
        font-size: 46px;
        line-height: 46px;
        letter-spacing: -1.8px;
    }

    .title2 {
        font-weight: 777;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.8px;
    }

    .title3 {
        font-size: 2vw;
        padding-top: 15px;
    }

    .title4 {
        font-size: 2.7vw;
        padding-top: 15px;
    }

    .description {
        font-size: 1.8vw;
        padding-top: 15px;
    }

    .imageWrapper {
        width: 20vw;
        height: 20vw;
        position: static;
        padding-left: 15px;
        margin-left: 15%;
    }

    .image {
        border-radius: 50%;
    }
}

@media (min-width: 701px) and (max-width: 955px) {

    .grid>* {
        flex-basis: calc(50% - 1rem);
    }

    .title {
        font-size: 3.5vw;
    }

    .title2 {
        font-size: 2vw;
        padding-top: 40px;
    }

    .title3 {
        font-size: 2vw;
    }

    .title4 {
        font-size: 3vw;
    }

    .description {
        font-size: 2vw;
    }

    .imageWrapper {
        width: 30vw;
        height: 30vw;
        left: 5vw;
    }

    .image {
        border-radius: 30vw;
    }
}

@media (max-width: 700px) {
    .wrapper {
        padding: 85px 0;
    }

    .grid>* {
        flex-basis: calc(100% - 1rem);
        text-align: center;
    }

    .title {
        font-size: 30px;
        line-height: 46px;
        letter-spacing: -1.8px;
        color: #181818;
    }

    .title2 {
        font-weight: 777;
        font-size: 13px;
        color: #5f5f5f;
        line-height: 46px;
        letter-spacing: 1.8px;
    }

    .title3 {
        font-size: 3vw;
        padding-top: 15px;

    }

    .title4 {
        font-size: 4vw;
        padding-top: 15px;
    }

    .description {
        font-size: 3vw;
        padding-top: 15px;
    }

    .imageWrapper {
        width: 55vw;
        height: 55vw;
        margin-left: 90px;
    }

    .image {
        border-radius: 55vw;
    }
}

.element:hover .image {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}