/*ServiceTemplate.module.css*/

.container {
    /* display: flex; */
    padding-right: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.sidebar {
    flex: 1.7;
    /* Займає 2/3 ширини контейнера */
    /* padding: 20px; */
    /* Додатковий відступ для контенту зліва */
}

.slider {
    width: 40vw;
    padding-bottom: 40px;
}

.form {
    /* flex: 1.5; */
    /* Займає 1/3 ширини контейнера */
    /* padding: 20px; */
    /* Додатковий відступ для форми зправа */
}

.image {
    padding: 0 30px;
    padding-bottom: 30px;
}

.title {
    margin-bottom: 25px;
}

.title2 {
    margin-bottom: 10px;
}

.text {
    color: #83878d;
    margin-bottom: 20px;
}

.video {
    width: 10px;
}

@media (max-width: 1400px) {
    .slider {
        width: 50vw;
        padding-bottom: 40px;
    }
}

@media (max-width: 959px) {
    .container {
        display: block;
        padding-right: 0px;
        padding: 0 20px;
        padding-top: 50px;
    }

    .slider {
        width: 100%;
    }
}

@media (max-width: 719px) and (max-width: 959px) {
    .container {
        /* display: flex; */
        padding-right: 10px;
        padding-top: 100px;
    }

    .image {
        /* padding: 0px 0px; */
        padding-bottom: 15px;
    }
}

@media (max-width: 850px) {
    .container {
        padding-top: 120px;
    }
}
