.wrapper {
    padding: 85px 0;
}

.title {
    font-size: 2vw;
    text-align: center;
}

.title2 {
    text-align: center;
    font-size: 2vw;
    color: rgb(88, 87, 87);
}

.title3 {
    font-size: 1.2vw;
}

.title4 {
    font-size: 1.5vw;
}

.description {
    font-size: 1.1vw;
    color: rgb(88, 87, 87);
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid>* {
    flex-basis: calc(33.33% - 1rem);
    margin: 0.5rem;
}

.imageWrapper {
    position: relative;
    width: 15vw;
    height: 15vw;
    left: 2vw;
}

.image {
    top: 0;
    border-radius: 10vw;
    object-fit: contain;
    border: solid rgb(204, 204, 204) 1px;
    transition: transform 0.5s ease;
}

.element {}

@media (min-width: 719px) and (max-width: 1400px) {
    .grid>* {
        flex-basis: calc(33, 3% - 1rem);
        text-align: center;
    }

    .title {
        font-size: 4vw;
        padding: 0 14vw;
    }

    .title2 {
        font-size: 2vw;
    }

    .title3 {
        font-size: 2vw;
        padding-top: 15px;
    }

    .title4 {
        font-size: 2.7vw;
        padding-top: 15px;
    }

    .description {
        font-size: 1.8vw;
        padding-top: 15px;
    }

    .imageWrapper {
        width: 20vw;
        height: 20vw;
    }

    .image {
        border-radius: 20vw;
    }
}

@media (min-width: 701px) and (max-width: 955px) {
    .grid>* {
        flex-basis: calc(50% - 1rem);
    }

    .title {
        font-size: 3.5vw;
        padding: 0px;
    }

    .title2 {
        font-size: 2vw;
    }

    .title3 {
        font-size: 2vw;
    }

    .title4 {
        font-size: 3vw;
    }

    .description {
        font-size: 2vw;
    }

    .imageWrapper {
        width: 30vw;
        height: 30vw;
        left: 5vw;
    }

    .image {
        border-radius: 30vw;
    }
}

@media (max-width: 700px) {
    .grid>* {
        flex-basis: calc(100% - 1rem);
        text-align: center;
    }

    .title {
        font-size: 6vw;
        padding: 10px 1vw;
    }

    .title2 {
        font-size: 2vw;
    }

    .title3 {
        font-size: 3vw;
        padding-top: 15px;
    }

    .title4 {
        font-size: 4vw;
        padding-top: 15px;
    }

    .description {
        font-size: 3vw;
        padding-top: 15px;
    }

    .imageWrapper {
        width: 55vw;
        height: 55vw;
        margin-left: 90px;
    }

    .image {
        border-radius: 55vw;
    }
}

.element:hover .image {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
