.wrapper {
    padding: 10px;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 2vw;
    padding: 10px;
}

.description {
    padding: 2.2rem 0 3rem;
    font-size: 1rem;
    line-height: 100%;
}

.buttonsWrapper {
    display: flex;
    justify-content: center;
}

.button {
    margin: 10px;
    padding: 10px;
    color: white;
    border: none;
    display: inline;
    cursor: pointer;
}

@media only screen and (min-width: 1900px) {
    .title {
        font-size: 2.vw;
    }
}

@media only screen and (max-width: 920px) {
    .description {
        font-size: 1.4rem;
        padding: 10px 5px;
    }
    .title {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 530px) {
    .title {
        font-size: 4vw;
    }
}
