.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.title{
    color: #6ec1e4;
    text-align: center;
    font-size: 2.0vw;
    font-weight: 600;
    padding: 15px 0;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .title{
        font-size: 3.0vw;
    }
}

@media (max-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .title{
        font-size: 4.0vw;
    }
}

.grid-item {
    width: 100%;
    aspect-ratio: 324 / 156;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px rgb(228, 228, 228)
}
